body{
    font: normal 10pt Verdana;
    background: linear-gradient(306deg, rgb(92, 95, 255) , rgb(255, 124, 124));
    text-align: center;
}

header{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
}

section{
  background-color: rgb(255, 255, 255);
  border-radius: 15pt;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(73, 73, 73, 0.356);
}

#res, div{
    font: normal 17px Helvetica;
}

input{
    font: normal 11pt Helvetica;
    border-radius: 7px;
    border-color: rgba(182, 109, 250); 
    color: rgb(255, 255, 255);
    background-color: rgba(252, 209, 193, 0.726);
}

#Verif{
    border-radius: 10px;
    padding: 6px;
    background-color: rgba(137, 43, 226, 0.329);
    color: rgb(255, 255, 255);
    border-color: rgb(182, 109, 250);
}

footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
}

